<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body style="background-color:WhiteSmoke">

<div class="navbar navbar-dark bg-dark py-0" style="margin-bottom: 15px">
    <div class="container-fluid">
        <ul class="nav navbar-nav me-auto">
            <div>
                <span class="navbar-text fw-bold text-white" th:text="${user.email}" style="display: inline"></span>
                <span class="navbar-text text-white" th:text="${'with roles: ' + user.rolesToString()}"
                      style="display: inline"></span>
            </div>
        </ul>
        <ul class="nav navbar-nav ms-auto">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </ul>
    </div>
</div>
<div class="row">

    <!--         **Боковая панель** -->
    <div class="col-2 px-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="/admin" class="nav-link active">Admin</a>
            </li>
            <li class="nav-item">
                <a href="/user" class="nav-link">User</a>
            </li>
        </ul>
    </div>

    <!--            **Навтаб**-->
    <div class="col-10" id="v-pills-tabContent">
        <div class="col-11">
            <h1>Admin panel</h1>

            <!--           **Кнопки навтаба(таблица+создание юзера)**-->
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin"
                       role="tab" aria-controls="admin" aria-selected="true">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#newuser"
                       role="tab" aria-selected="false">New User</a>
                </li>
            </ul>

            <!--                            **Хэдер+создание юзера**-->
            <div class="tab-content border rounded" id="myTabContent">
                <div class="tab-pane fade" id="newuser" role="tabpanel">
                    <h5 class="card-header">New user</h5>

                    <div class="container-fluid col-7">
                        <div class="row text-center pb-3">
                            <form th:method="POST">
                                <div class="form-group p-2 pb-3 text-center" style="width: 50%; margin: 0 auto">
                                    <label for="createUsername" class="pt-3 fw-bold">First name</label>
                                    <input class="form-control" type="text"
                                           id="createUsername" name="username">
                                    <label for="createLastname" class="pt-3 fw-bold">Last name</label>
                                    <input class="form-control" type="text"
                                           id="createLastname" name="lastname">
                                    <label for="createAge" class="pt-3 fw-bold">Age</label>
                                    <input class="form-control" type="number"
                                           id="createAge" name="age">
                                    <label for="createEmail" class="pt-3 fw-bold">Email</label>
                                    <input class="form-control" type="email"
                                           id="createEmail" name="email">
                                    <label for="createPassword" class="pt-3 fw-bold">Password</label>
                                    <input class="form-control" type="password" id="createPassword"
                                           name="password">
                                    <!--                        **Селект Ролей**-->
                                    <label for="createRoles" class="pt-3 fw-bold">Role</label>
                                    <select class="form-select pb-2" size="2" id="createRoles" name="roles">
                                        <option th:each="role : ${roleList}"
                                                th:value="${role.id}"
                                                th:text="${role.name}">Roles
                                        </option>
                                    </select>
                                </div>
                                <div class="p-2">
                                    <button onclick="createUser()" type="button" class="btn btn-success">Add new user
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--                **Хэлер+таблица**         -->
                <iframe name="votar" style="display:none;" id="frame"></iframe>
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <h5 class="card-header">All Users</h5>
                    <div class="container-fluid pt-3">
                        <table class="table table-striped border-top" id="AllUsers">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Lastname</th>
                                <th>EMail</th>
                                <th>Age</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            <!--                                **Модальная кнопка(окно для редактирования**)   -->
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body" id="editModalBody">
                                            <form th:method="PUT" id="editForm">
                                                <div class="form-group p-2 pb-3 text-center"
                                                     style="width: 50%; margin: 0 auto" id="formEdit">
                                                    <label for="editId" class="fw-bold">ID</label>
                                                    <input class="form-control" type="text" id="editId" readonly>
                                                    <label for="editUsername" class="pt-3 fw-bold">First
                                                        name</label>
                                                    <input class="form-control" type="text"
                                                           id="editUsername" name="username">
                                                    <label for="editLastname" class="pt-3 fw-bold">Last name</label>
                                                    <input class="form-control" type="text" id="editLastname"
                                                           name="lastname">
                                                    <label for="editAge" class="pt-3 fw-bold">Age</label>
                                                    <input class="form-control" type="number" id="editAge"
                                                           name="age">
                                                    <label for="editEmail" class="pt-3 fw-bold">Email</label>
                                                    <input class="form-control" type="email" id="editEmail"
                                                           name="email">
                                                    <label for="editPassword" class="pt-3 fw-bold">Password</label>
                                                    <input class="form-control" type="password" value=""
                                                           id="editPassword" name="password">
                                                    <!--                        **Селект Ролей**-->
                                                    <label for="editRole" class="pt-3 fw-bold">Role</label>
                                                    <select class="form-select pb-2" size="2"
                                                            id="editRole" name="roles">
                                                        <option th:each="role : ${roleList}"
                                                                th:value="${role.id}"
                                                                th:text="${role.name}">Roles
                                                        </option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button onclick="editButton()" type="submit" class="btn btn-primary">Edit
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--                **Модальная кнопка(окно удаления)-->

                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete User</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form th:method="DELETE">
                                                <div class="form-group p-2 pb-3 text-center"
                                                     style="width: 50%; margin: 0 auto">
                                                    <label for="deleteId" class="fw-bold">ID</label>
                                                    <input class="form-control" type="text"
                                                           id="deleteId" readonly>
                                                    <label for="deleteUsername" class="pt-3 fw-bold">First
                                                        name</label>
                                                    <input class="form-control" type="text"
                                                           id="deleteUsername" readonly>
                                                    <label for="deleteLastname" class="pt-3 fw-bold">Last
                                                        name</label>
                                                    <input class="form-control" type="text"
                                                           id="deleteLastname" readonly>
                                                    <label for="deleteAge" class="pt-3 fw-bold">Age</label>
                                                    <input class="form-control" type="number"
                                                           id="deleteAge" readonly>
                                                    <label for="deleteEmail" class="pt-3 fw-bold">Email</label>
                                                    <input class="form-control" type="email"
                                                           id="deleteEmail" readonly>
                                                    <label for="deletePassword" class="pt-3 fw-bold">Password</label>
                                                    <input class="form-control" type="password" value=""
                                                           id="deletePassword" readonly>
                                                    <!--                        **Селект Ролей**-->
                                                    <label for="deleteRole" class="pt-3 fw-bold">Role</label>
                                                    <select class="form-select pb-2" size="2"
                                                            id="deleteRole" disabled>
                                                        <option th:each="role : ${roleList}"
                                                                th:value="${role.id}"
                                                                th:text="${role.name}">Roles
                                                        </option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button onclick="deleteButton()" type="submit" class="btn btn-danger">Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/app.js" th:src="@{app.js}"></script>

</html>
