<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="navbar navbar-dark bg-dark py-0" style="margin-bottom: 15px">
    <div class="container-fluid">
        <ul class="nav navbar-nav me-auto">
            <div>
                <span class="navbar-text fw-bold text-white" th:text="${user.email}" style="display: inline"></span>
                <span class="navbar-text text-white" th:text="${'with roles: ' + user.rolesToString()}"
                      style="display: inline"></span>
            </div>
        </ul>
        <ul class="nav navbar-nav ms-auto">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </ul>
    </div>
</div>
<div class="row">

    <!--         **Боковая панель** -->
    <div class="col-2 px-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="/admin" class="nav-link active">Admin</a>
            </li>
            <li class="nav-item">
                <a href="/user" class="nav-link">User</a>
            </li>
        </ul>
    </div>

    <!--            **Навтаб**-->
    <div class="col-10" id="v-pills-tabContent">
        <div class="col-11">
            <h1>Admin panel</h1>

            <!--           **Кнопки навтаба(таблица+создание юзера)**-->
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin"
                       role="tab" aria-controls="admin" aria-selected="true">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#newuser"
                       role="tab" aria-selected="false">New User</a>
                </li>
            </ul>

            <!--                            **Хэдер+создание юзера**-->
            <div class="tab-content border rounded" id="myTabContent">
                <div class="tab-pane fade" id="newuser" role="tabpanel">
                    <h5 class="card-header">New user</h5>

                    <div class="container-fluid col-7">
                        <div class="row text-center pb-3">
                            <form th:action="@{/user-create}"
                                  th:object="${user}" th:method="POST">
                                <div class="form-group p-2 pb-3 text-center" style="width: 50%; margin: 0 auto">
                                    <label for="fname" class="pt-3 fw-bold">First name</label>
                                    <input class="form-control" type="text"
                                           id="fname" name="username">
                                    <label for="lname" class="pt-3 fw-bold">Last name</label>
                                    <input class="form-control" type="text"
                                           id="lname" name="lastname">
                                    <label for="age2" class="pt-3 fw-bold">Age</label>
                                    <input class="form-control" type="number"
                                           id="age2" name="age">
                                    <label for="email2" class="pt-3 fw-bold">Email</label>
                                    <input class="form-control" type="email"
                                           id="email2" name="email">
                                    <label for="password2" class="pt-3 fw-bold">Password</label>
                                    <input class="form-control" type="password" id="password2"
                                           name="password">
                                    <!--                        **Селект Ролей**-->
                                    <label for="roles2" class="pt-3 fw-bold">Role</label>
                                    <select class="form-select pb-2" size="2" id="roles2" name="roles">
                                        <option th:each="role : ${roleList}" th:value="${role.id}"
                                                th:text="${role.name}">Roles
                                        </option>
                                    </select>
                                </div>
                                <div class="p-2">
                                    <button type="submit" class="btn btn-success">Add new user
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--                **Хэлер+таблица**         -->
                <div class="tab-pane fade show active" id="admin" role="tabpanel">
                    <h5 class="card-header">All Users</h5>
                    <div class="container-fluid pt-3">
                        <table class="table table-striped border-top">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">EMail</th>
                                <th scope="col">Age</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.lastname}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.rolesToString()}"></td>

                                <!--                                **Модальная кнопка(окно для редактирования**)   -->
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            th:data-target="${'#editModal'+user.id}">
                                        Edit
                                    </button>
                                    <div class="modal fade" th:id="${'editModal' + user.id}" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form action="#" th:action="@{edit/{id}(id=${user.getId()})}"
                                                      th:object="${user}" th:method="PATCH">
                                                    <div class="modal-body">
                                                        <div class="form-group p-2 pb-3 text-center"
                                                             style="width: 50%; margin: 0 auto">
                                                            <label for="id" class="fw-bold">ID</label>
                                                            <input class="form-control" type="text" th:value="*{id}"
                                                                   id="id" readonly>
                                                            <label for="username" class="pt-3 fw-bold">First
                                                                name</label>
                                                            <input class="form-control" type="text"
                                                                   th:value="*{username}"
                                                                   id="username" name="username">
                                                            <label for="lastname" class="pt-3 fw-bold">Last name</label>
                                                            <input class="form-control" type="text"
                                                                   th:value="*{lastname}"
                                                                   id="lastname" name="lastname">
                                                            <label for="age" class="pt-3 fw-bold">Age</label>
                                                            <input class="form-control" type="number" th:value="*{age}"
                                                                   id="age" name="age">
                                                            <label for="eMail" class="pt-3 fw-bold">Email</label>
                                                            <input class="form-control" type="email" th:value="*{email}"
                                                                   id="eMail" name="email">
                                                            <label for="password" class="pt-3 fw-bold">Password</label>
                                                            <input class="form-control" type="password" value=""
                                                                   id="password" name="password">
                                                            <!--                        **Селект Ролей**-->
                                                            <label for="roles" class="pt-3 fw-bold">Role</label>
                                                            <select class="form-select pb-2" size="2"
                                                                    th:value="*{roles}" id="roles" name="roles">
                                                                <option th:each="role : ${roleList}"
                                                                        th:value="${role.id}"
                                                                        th:text="${role.name}">Roles
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Edit
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!--                                          **Модальная кнопка(окно удаления)**-->
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                            th:data-target="${'#deleteModal'+user.id}">
                                        Delete
                                    </button>
                                    <div class="modal fade" th:id="${'deleteModal' + user.id}" tabindex="-1"
                                         role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit User</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form action="#" th:action="@{delete/{id}(id=${user.getId()})}"
                                                      th:object="${user}" th:method="DELETE">
                                                    <div class="modal-body">
                                                        <div class="form-group p-2 pb-3 text-center"
                                                             style="width: 50%; margin: 0 auto">
                                                            <label for="id3" class="fw-bold">ID</label>
                                                            <input class="form-control" type="text" th:value="*{id}"
                                                                   id="id3" readonly>
                                                            <label for="username3" class="pt-3 fw-bold">First
                                                                name</label>
                                                            <input class="form-control" type="text"
                                                                   th:value="*{username}"
                                                                   id="username3" readonly>
                                                            <label for="lastname3" class="pt-3 fw-bold">Last
                                                                name</label>
                                                            <input class="form-control" type="text"
                                                                   th:value="*{lastname}"
                                                                   id="lastname3" readonly>
                                                            <label for="age3" class="pt-3 fw-bold">Age</label>
                                                            <input class="form-control" type="number" th:value="*{age}"
                                                                   id="age3" readonly>
                                                            <label for="eMail3" class="pt-3 fw-bold">Email</label>
                                                            <input class="form-control" type="email" th:value="*{email}"
                                                                   id="eMail3" readonly>
                                                            <label for="password3" class="pt-3 fw-bold">Password</label>
                                                            <input class="form-control" type="password" value=""
                                                                   id="password3" readonly>
                                                            <!--                        **Селект Ролей**-->

                                                            <label for="roles3" class="pt-3 fw-bold">Role</label>
                                                            <select class="form-select pb-2" size="2"
                                                                    th:value="*{roles}" id="roles3" disabled>
                                                                <option th:each="role : ${roleList}"
                                                                        th:value="${role.id}"
                                                                        th:text="${role.name}">Roles
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Delete
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>